html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  background-color: #0a0a0a;
  color: #f0f0f0;
  overflow:hidden;
}

.soderzh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px; /* уменьшены отступы */
  box-sizing: border-box;
  min-height: 100vh;
  text-align: center;
  overflow: auto;
  width: 100%; /* делает ширину на всю страницу */
}

h1 {
  font-size: 2.2em;
  margin-top: 10px; /* уменьшены отступы */
  margin-bottom: 35px;
  font-weight: bold;
}

p {
  font-size: 1.5em;
  margin-bottom: 10px;
  white-space: nowrap; /* это предотвратит перенос текста на новую строку */
  overflow: hidden;
  text-overflow: ellipsis; /* если текст длинный, будет многоточие */
  width: 100%; /* займет всю ширину контейнера */
  word-wrap: break-word; /* позволяет словам не ломаться, но переноситься */
  word-break: break-word; /* добавляет переносы, если слово слишком длинное */
}

.hint {
  font-size: 1.2em;
  color: #dcdcdc;
  text-align: left;
  font-weight: bold;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.6em;
  }

  p {
    font-size: 1.3em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.4em;
  }

  p {
    font-size: 1em;
  }

  .soderzh {
    padding: 10px; /* уменьшены отступы */
  }

  .hint {
    font-size: 0.9em;
  }

  .hint1 {
    font-size: 0.75em;
  }
}
